# ----------------------------
# PHP Extension UUID Project
# ----------------------------

# Build directories
/.libs/
/build/
/modules/

config.h
config.log
config.nice
config.status
libtool
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
uuid.dep
uuid.la
uuid.lo
autom4te.cache

# IDE/editor specific (optional)
# Uncomment the following lines if you use these tools
# VS Code
.vscode/
# Sublime Text
# *.sublime-project
# *.sublime-workspace
# PHPStorm
.idea/

# ----------------------------
# End of .gitignore
# ----------------------------
